DriverPlanner/Connected Services/DPService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DriverPlannerService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DriverPlannerService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseUser">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseUser" nillable="true" type="tns:BaseUser" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="tns:Gender" />
          <xs:element minOccurs="0" name="GenderName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HashPass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserEMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserID" type="xs:int" />
          <xs:element minOccurs="0" name="UserPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserVK" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Gender">
    <xs:sequence>
      <xs:element minOccurs="0" name="GenderDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="Admin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdminEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AdminID" type="xs:int" />
          <xs:element minOccurs="0" name="HashPass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
  <xs:complexType name="Instructor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="Car" nillable="true" type="tns:Cars" />
          <xs:element minOccurs="0" name="CarID" type="xs:int" />
          <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" nillable="true" type="tns:Gender" />
          <xs:element minOccurs="0" name="GenderInstructor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HashPass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="InstructorBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InstructorEMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstructorID" type="xs:int" />
          <xs:element minOccurs="0" name="InstructorPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstructorVK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Instructor" nillable="true" type="tns:Instructor" />
  <xs:complexType name="Cars">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarID" type="xs:int" />
      <xs:element minOccurs="0" name="CarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarYear" type="xs:int" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Categories" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cars" nillable="true" type="tns:Cars" />
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categories" nillable="true" type="tns:Categories" />
  <xs:complexType name="ArrayOfGender">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Gender" nillable="true" type="tns:Gender" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGender" nillable="true" type="tns:ArrayOfGender" />
  <xs:complexType name="ArrayOfCars">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cars" nillable="true" type="tns:Cars" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCars" nillable="true" type="tns:ArrayOfCars" />
  <xs:complexType name="ArrayOfTimeTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeTable" nillable="true" type="tns:TimeTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeTable" nillable="true" type="tns:ArrayOfTimeTable" />
  <xs:complexType name="TimeTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassID" type="xs:int" />
      <xs:element minOccurs="0" name="ClassInterval" nillable="true" type="tns:ClassInterval" />
      <xs:element minOccurs="0" name="DateOfClass" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Instructor" nillable="true" type="tns:Instructor" />
      <xs:element minOccurs="0" name="InstructorID" type="xs:int" />
      <xs:element minOccurs="0" name="IntervalCode" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeTable" nillable="true" type="tns:TimeTable" />
  <xs:complexType name="ClassInterval">
    <xs:sequence>
      <xs:element minOccurs="0" name="IntervalNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TimeInterval" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassInterval" nillable="true" type="tns:ClassInterval" />
  <xs:complexType name="ArrayOfInstructor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Instructor" nillable="true" type="tns:Instructor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstructor" nillable="true" type="tns:ArrayOfInstructor" />
  <xs:complexType name="ArrayOfFeedBacks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedBacks" nillable="true" type="tns:FeedBacks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedBacks" nillable="true" type="tns:ArrayOfFeedBacks" />
  <xs:complexType name="FeedBacks">
    <xs:sequence>
      <xs:element minOccurs="0" name="FeedBackID" type="xs:int" />
      <xs:element minOccurs="0" name="FeedBackMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Instructor" nillable="true" type="tns:Instructor" />
      <xs:element minOccurs="0" name="InstructorID" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedBacks" nillable="true" type="tns:FeedBacks" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfCategories">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categories" nillable="true" type="tns:Categories" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategories" nillable="true" type="tns:ArrayOfCategories" />
</xs:schema>