DriverPlanner/Connected Services/DPService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DriverPlannerService.Models" />
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValueTupleOfintBaseUservQs1dmwD">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="BaseUser" Namespace="http://schemas.datacontract.org/2004/07/DriverPlannerService.Models" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DriverPlannerService.Models" name="Item2" nillable="true" type="q1:BaseUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfintBaseUservQs1dmwD" nillable="true" type="tns:ValueTupleOfintBaseUservQs1dmwD" />
  <xs:complexType name="ValueTupleOfArrayOfInstructorArrayOfFeedBacksPOwLba72">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfInstructor" Namespace="http://schemas.datacontract.org/2004/07/DriverPlannerService.Models" />
          <GenericParameter Name="ArrayOfFeedBacks" Namespace="http://schemas.datacontract.org/2004/07/DriverPlannerService.Models" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DriverPlannerService.Models" name="Item1" nillable="true" type="q2:ArrayOfInstructor" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DriverPlannerService.Models" name="Item2" nillable="true" type="q3:ArrayOfFeedBacks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfArrayOfInstructorArrayOfFeedBacksPOwLba72" nillable="true" type="tns:ValueTupleOfArrayOfInstructorArrayOfFeedBacksPOwLba72" />
</xs:schema>